<div role="main">
    <section>
        <section class="container">
            <h2>Contact List</h2>
            <div class="col-lg-8" ng-show="contacts.length > 0">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Phone</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="contact in contacts">
                    <tr>
                        <th scope="row">{{$index + 1}}</th>
                        <td>{{contact.email}}</td>
                        <td>{{contact.phone}}</td>
                        <td>
                            <button type="button" class="btn btn-warning btn-sm" ng-click="editContact(contact)">Edit
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger btn-sm" ng-click="deleteContact(contact)">
                                Delete
                            </button>
                        </td>
                    </tr>
                    <tr ng-show="contacts.length == 0">
                        <td colspan="4" align="center">Theres is no contact</td>
                    </tr>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </section>

    <section>


        <section class="container">
            <h2>Contact {{contaBancariaForm.$valid}}</h2>
            <div class="col-lg-8">
                <div class="alert alert-success" role="alert" ng-show="contactForm.showSuccess">
                    {{contactForm.message}}
                </div>
                <div class="alert alert-danger" role="alert" ng-show="contactForm.showError">
                    {{contactForm.message}}
                </div>
                <form>
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="email" class="form-control" maxlength="100" required ng-model="contactForm.email"
                               id="email" placeholder="johndoe@mail.com">
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="text" class="form-control" id="phone" maxlength="15" numbers-only required
                               ng-model="contactForm.phone" placeholder="551123456789">
                    </div>
                    <input type="hidden" id="id" ng-model="contactForm.id">
                    <button type="submit" class="btn btn-primary" ng-click="saveContact(contactForm)">Save</button>
                    <button type="button" class="btn btn-secondary" ng-click="cancelEdit()">Cancel</button>

                </form>
            </div>

        </section>
    </section>

</div>
